img {
  width: 500px;
  height: 300px;
}

body {
  background-color: #fffff0;
  margin: 0;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 2.5em;
  border-bottom: 3px solid gray;
  padding: 20px;
  margin: 0;
}

/* ol {
  border-right: 3px solid gray;
  width: 100px;
  margin: 0;
  padding: 20px;
} */

p,
ol {
  font-family: fantasy;
}

.saw {
  color: gray;
}

#grid {
  border: 5px solid pink;
  display: grid;
  grid-template-columns: 150px 1fr;
}

.gridone {
  border-right: 3px solid gray;
}

.gridtwo {
  padding-left: 30px;
}
